<!DOCTYPE html>
<html lang="en">
<head id="head">
  <title>Timp Pest Solutions | Address</title>
  <!-- loaded from src/partials/head.html by utils.js addHtmlContent()  -->
</head>
<body>
  <header id="header" class="container">
    <!-- loaded from src/partials/header.html by utils.js addHtmlContent() -->
  </header>
  
  <main>
    <h1>Address</h1>
    <form id="address">
      <fieldset>
        <legend>User Address</legend>
        <label for="userStreet">*Street Address:</label><br>
        <input type="text" id="userStreet" name="userStreet" required ><br>

        <label for="userCity">*City:</label><br>
        <input type="text" id="userCity" name="userCity" required ><br>

        <label for="userState">*State:</label><br>
        <input type="text" id="userState" name="userState" required ><br>

        <label for="userZip">*Zip Code:</label><br>
        <input type="number" id="userZip" name="userZip" required ><br>
        <button type="submit">Submit</button> <br>
      </fieldset><br>
    </form>
  </main>
  <footer id="footer">
    <!-- loaded from src/partials/footer.html by utils.js addHtmlContent() -->
  </footer>
  <script src="../js/utils.js" type="module"></script>
  <script src="../js/map.js" type="module"></script>
</body>
</html>
