<!DOCTYPE html>
<html lang="en">
<head id="head">
  <title>Timp Pest Solutions | Login</title>
  <!-- loaded from src/partials/head.html by utils.js addHtmlContent()  -->
</head>
<body>
  <header id="header" class="container">
    <!-- loaded from src/partials/header.html by utils.js addHtmlContent() -->
  </header>
  
  <main>
    <h1>Login</h1>

    <div class="container">
      <fieldset>
        <legend>Login</legend>
        <form action="login" method="post">
          <label for="userEmail">*Email:</label><br>
          <input type="email" id="userEmail" name="userEmail" required ><br>

          <label for="userPassword">*Password:</label><br>
          <input type="password" id="userPassword" name="userPassword" required ><br>
        
          <input type="submit" value="Login"> <br>
          <input type="hidden" name="action" value="Login">

          <p>Create New <a href="/src/views/register.html">Account</a></p>
        </form>
      </fieldset>
    </div>
  </main>
  <footer id="footer">
    <!-- loaded from src/partials/footer.html by utils.js addHtmlContent() -->
  </footer>
  <script src="../js/utils.js" type="module"></script>
</body>
</html>
