<!DOCTYPE html>
<html lang="en">
<head id="head">
  <title>Timp Pest Solutions | Template</title>
  <!-- loaded from src/partials/head.html by utils.js addHtmlContent()  -->
</head>
<body>
  <header id="header" class="container">
    <!-- loaded from src/partials/header.html by utils.js addHtmlContent() -->
  </header>
  
  <main>
    <h1>template</h1>
  </main>
  <footer id="footer">
    <!-- loaded from src/partials/footer.html by utils.js addHtmlContent() -->
  </footer>
  <script src="../js/utils.js" type="module"></script>
</body>
</html>
